<main class="wrapper" id="scroll-container">

    <section id="home" spyTarget="home"  class="spy-section home-section">
        <app-home></app-home>
    </section>

    <!-- <section class="py-3 py-md-4 brand-section gray-bg">
      <app-brands></app-brands>
    </section> -->

    <section id="games" spyTarget="games" class="spy-section project-section section pt-0">
        <app-work></app-work>
      </section>

      <section id="roadmap" spyTarget="roadmap" class="spy-section roadmap-section section">
        <img style="width:80%;left:10%;position:relative" src="assets/img/roadmap.png">
     </section>

    <section id="services" spyTarget="tokenomics"  class="spy-section toke section">
        <app-services></app-services>
    </section>

    <section id="about" spyTarget="team" class="spy-section about-section section">
        <app-about></app-about>
     </section>



    <!-- <section class="section pt-0">
        <app-experience></app-experience>
      </section> -->

  
   
    <!-- <section class="section effect-section">
        <app-testimonials></app-testimonials>
    </section> -->

    <!-- <section id="contactus" spyTarget="contactus" class="spy-section section contactus-section">
        <app-contact></app-contact>
    </section> -->
   
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
          <p class="m-0 text-center">© 2023 copyright all right reserved</p>
      </div>
  </footer>
    <a href="#home"  id="return-to-top"><i class="bi-arrow-up-circle-fill"></i></a>
    <!-- End Footer --> 
</main>
  






<!-- Snigle 1 -->
  <div class="modal fade" id="project_1" tabindex="-1" aria-labelledby="project_1" aria-hidden="true">
    <div class="modal-dialog px-modal">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="single-project-box" style="padding:24px">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <br>
                    <img class="border" src="assets/img/math1.png" title="" alt="">
                    <br><br>
                    <img class="border" src="assets/img/math2.png" title="" alt="">
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <!-- <h4>Website Design for Marketing Agency Startup</h4> -->
                    <p class="mb-3">To start, 1 billion tokens will be minted as rewards each year for the first 3 years. It will halve production every 3 years. There is a total amount minted each day divided equally among each game in the ecosystem. </p>
                    <p>For each game, a player's overall high score, their high score for the day, and the total of all their scores for the day will be multiplied together to get their "POP Points".</p>
                    <p>Once each player's POP Points are determined for each game, we then take it and divide by the total POP Points of all players for each game to get the percentage of POP Points a player earned.</p>
                    <p>Then, we take that percentage and multiply by the total amount of tokens rewarded for the day to get the player's proportional rewards for that day for that game. Then, we sum the player's rewards for each game to get the total rewards for each player.</p>
                    <div class="about-content">
                        <!-- <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Snigle 1 -->