.px-modal {
    .modal-content{
        border:none;
    }
    .modal-body{
        padding:0px;
    }
}

.about-section{
    padding-bottom:0px !important;
    padding-top: 3cap !important;
}

.roadmap-section, .games-section {
    background-color: #cde6ff;
}

 footer{
    background-color:white !important;
    color: black;
 }