<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6>How to earn?</h6>
                <h2>Three factors contribute to the amount of POPT earned. Compete against everyone else for a proportional share of rewards!</h2>
            </div>
        <div class="btn-bar">
                            <a class="px-btn light px_modal" data-bs-toggle="modal" 
                            data-bs-target="#project_1"><span>Read More</span> <i class="bi-arrow-right"></i> </a>
                        </div>
        </div>
        <div class="col-lg-6">
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="bi-code-square"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Score often</h5>
                    <p>The only way to get rewards every day is by playing every day!</p>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span> <i class="bi-palette"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Score high</h5>
                    <p>Setting new high scores increases your POP Points and your rewards! </p>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span> <i class="bi-speedometer2"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Score well</h5>
                    <p>Set daily high scores and make many matches to earn more!</p>
                </div>
            </div>
        </div>
    </div><br><br>
    <img src="assets/img/supply.png" />
</div>