<div class="fixed-skill">
    <ul>
        <li></li>
        <li>
            <span>
                <img src="assets/img/fb3.png" title="" alt="">
            </span>
        </li>
        <li>
            <a href="https://twitter.com/thepopgames">
            <span>
                <img src="assets/img/x.png" title="" alt="">
            </span>
            </a>
        </li>
        <li>
            <span>
                <img src="assets/img/insta.png" title="" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/snap.png" title="" alt="">
            </span>
        </li>
    </ul>
</div>
<div class="container" style="padding: 18px 5px">
    <div class="row"> <!--align-items-end-->
        <div class="col-lg-8">
            <div class="hs-text-box">
                <!-- <h1 style="font-size:85px">Proof of Play Games</h1> -->
                <!-- <h2>I'm <span class="typed-element"></span></h2> -->
                <img src="assets/img/popt.png" style="width: 81%" title="" alt="">
                <h2 id="desc" [ngStyle]="{'box-shadow': '20px 20px '+getColor()}"><u>Play to earn games!</u><br><br>Join our <span [ngStyle]="{'color': getColor()}">POP Games</span> Discord server for all the latest news and exclusive access!</h2>
                <div class="btn-bar">
                    <a class="px-btn light" href="https://discord.gg/44wX4R64"><img src="assets/img/discord.png" style="width:36px;margin-right:15px"><span>Join the Discord</span> <i class="bi-arrow-right"></i> </a>
                    <!-- <span [ngStyle]="{'color': getColor()}">(for beta access)</span> -->
                </div>
                <div class="review-box">
                    <div class="r-box" style="text-align: center;">
                        <h4><img src="assets/img/spsq1024.png" width="72"></h4>
                        <label>Speed Square - dApp (iOS)<br>(Android coming soon)</label>
                    </div>
                    <div class="r-box" style="text-align: center;">
                        <h4><img src="assets/img/coming.png" width="100" style="text-align: center;"></h4>
                        <label>Mobile Game</label>
                    </div>
                    <div class="r-box" style="text-align: center;">
                        <h4><img src="assets/img/coming.png" width="100"></h4>
                        <label>VR Game</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hs-banner">
                <br>
                <img src="assets/img/popt2.png" title="" alt="">
            </div>
        </div>
    </div>
</div>